<div class="row">
  <div class="col-xs-6">
    <label>Seleccione la opción</label>
    <select class="form-control" (change)="onChangeOption($event)">
      <option value="0">-- Seleccione --</option>
      <option value="1">Registrar</option>
      <option value="2">Calibrar</option>
      <option value="3">Ver curva de calibración</option>
    </select>
  </div>
</div>

<br/>

<ng4-loading-spinner> </ng4-loading-spinner>

<div class="row">
  <div class="col-xs-6">
    <div *ngIf="estado == 1" class="alert alert-success" role="alert">
      La informacion se ha guardado correctamente.
    </div>
    <div *ngIf="estado == 0" class="alert alert-danger" role="alert">
      Se ha producido un error, intente mas tarde.
    </div>
    <div *ngIf="estado == 2" class="alert alert-warning" role="alert">
      El codigo ya existe.
    </div>
  </div>
</div>

<div *ngIf="option == 1" class="row">

  <div class="row">
    <div class="col-xs-6">

      <h2>Registro de estructura de control</h2>

      <form #formR="ngForm" (ngSubmit)="registrar(formR)" autocomplete="off">

        <div *ngIf="estado == 3" class="alert alert-warning" role="alert">
          No esta permitido el 0.
        </div>

        <div [ngClass]="(!rCanal.valid && rCanal.touched) ? 'form-group has-error' : 'form-group'">
          <div class="form-group">
            <label class="control-label">Buscar canal</label>
            <ng2-completer [(ngModel)]="canalCompleter" (selected)="onSelectedCanal($event)" (keyup)="onKeyUpCanal()" [datasource]="dataServiceCanal"
              [inputClass]="['form-control']" [minSearchLength]="4" #rCanal="ngModel" name="rCanal" [textSearching]="'Buscando...'"
              [placeholder]="'Buscar canal'" [textNoResults]="'Sin resultados'" [clearUnselected]="true" required></ng2-completer>
            <span class="msg-error" *ngIf="!rCanal.valid && rCanal.touched">Campo obligatorio</span>
          </div>
        </div>

        <div [ngClass]="(!rCodigo.valid && rCodigo.touched) ? 'form-group has-error' : 'form-group'">
          <label class="control-label">Codigo de la estructura de control</label>
          <input [(ngModel)]="estructura.codigo" #rCodigo="ngModel" type="text" class="form-control" placeholder="Ingrese el codigo"
            name="rcodigo" required/>
          <span class="msg-error" *ngIf="!rCodigo.valid && rCodigo.touched">Campo obligatorio</span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!formR.form.valid || estructura.canalId == null">Guardar</button>

      </form>

    </div>
  </div>

</div>

<div *ngIf="option == 2" class="row">

  <div class="row">

    <h2>Calibración de estructura de control</h2>

    <form #formC="ngForm" (ngSubmit)="calibrarSubmit(formR)" autocomplete="off">

      <div class="col-xs-6">

        <div *ngIf="!calibrar" class="form-group">
          <label class="control-label">Buscar estructura por codigo</label>
          <ng2-completer [(ngModel)]="estructuraCompleter" name="estructuraCompleter" (selected)="onSelectedEstructura($event)" [datasource]="dataServiceEstructura"
            [inputClass]="['form-control']" #cCodigo="ngModel" [minSearchLength]="2" [textSearching]="'Buscando...'" [placeholder]="'Buscar estructural de control'"
            [pause]="500" [textNoResults]="'Sin resultados'" [clearUnselected]="true"></ng2-completer>
        </div>

        <div *ngIf="calibrar">
          <div [ngClass]="(!CDatoY.valid && CDatoY.touched) ? 'form-group has-error' : 'form-group'">
            <label class="control-label">Tirante del agua (m)
            </label>
            <input [(ngModel)]="datoY" #CDatoY="ngModel" name="datoY" type="number" class="form-control" placeholder="Ingrese el tirante"
              required/>
            <span class="msg-error" *ngIf="!CDatoY.valid && CDatoY.touched">Campo obligatorio</span>
          </div>

          <div [ngClass]="(!CDatoX.valid && CDatoX.touched) ? 'form-group has-error' : 'form-group'">
            <label class="control-label">Caudal (L.P.S)
            </label>
            <input [(ngModel)]="datoX" #CDatoX="ngModel" name="datoX" type="number" class="form-control" placeholder="Ingrese el cudal"
              required/>
            <span class="msg-error" *ngIf="!CDatoX.valid && CDatoX.touched">Campo obligatorio</span>
          </div>

          <button *ngIf="!reemplazar" [disabled]="lstX.length != 8" class="btn btn-primary" type="submit">Calibrar</button>
          <button *ngIf="!reemplazar" (click)="onClickCalibrarCancelar(formC)" class="btn btn-danger" type="button">Cancelar</button>
          <button *ngIf="!reemplazar" [disabled]="!formC.form.valid || lstX.length == 8" (click)="onClickAgregar(formC)" class="btn btn-success"
            type="button">Agregar</button>
          <button *ngIf="reemplazar" [disabled]="!formC.form.valid" (click)="onClickReemplazar(formC)" class="btn btn-info" type="button">Reemplazar</button>
          <button *ngIf="reemplazar" (click)="onClickReemplazarCancelar(formC)" class="btn btn-danger" type="button">Cancelar</button>

        </div>
      </div>

      <div *ngIf="lstX.length != 0" class="col-xs-6">

        <div class="col-xs-3"></div>

        <div class="col-xs-6">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">Caudal</th>
                <th class="text-center">Tirante</th>
                <th class="text-center">Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of lstX; let i = index" [attr.data-index]="i">
                <td class="text-center">{{x}}</td>
                <td class="text-center">{{lstY[i]}}</td>
                <td class="text-center">
                  <button (click)="onClickReemplazarEditar(i)" type="button" class="btn btn-success btn-sm">Editar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-xs-3"></div>

      </div>

    </form>

  </div>

</div>


<div *ngIf="option == 3" class="row">
  <div class="row">
    <div class="row">
      <div class="form-group col-xs-6">
        <label class="control-label">Buscar estructura por codigo</label>
        <ng2-completer (keyup)="onKeyUpGraficar()" [(ngModel)]="estructuraCompleter" name="estructuraCompleter" (selected)="onSelectedEstructuraGraficar($event)"
          [datasource]="dataServiceEstructuraGraficar" [inputClass]="['form-control']" #gCodigo="ngModel" [minSearchLength]="2"
          [textSearching]="'Buscando...'" [placeholder]="'Buscar estructural de control'" [pause]="500" [textNoResults]="'Sin resultados'"
          [clearUnselected]="true"></ng2-completer>
      </div>
    </div>
    <div *ngIf="graficar" class="row">
      <div class="col-md-6">
        <h3 *ngIf="ecuacion" class="text-center">
          <span>y = {{a | number}}
            <i>x</i>
            <sup>
              <i>{{b | number}}</i>
            </sup>
          </span>
        </h3>
        <h3 *ngIf="!ecuacion" class="text-center">
          La estructura de control no ha sido calibrada.
        </h3>

      </div>
    </div>
  </div>
</div>

<!--*ngIf="graficar && option == 3"-->
<div style="height: 500px; width: 70%; padding-bottom: 20px">
  <div [hidden]="!chart || !graficar || option != 3" style="display: block; height:400">
    <canvas width="400" height="200" id="canvas">{{ chart }}</canvas>
  </div>
</div>