<div class="row contenedor-principal animated fadeIn fast">

  <h2 *ngIf="option == 1" class="page-header Titutlo_form animated fadeIn fast">Registro de estructura de control</h2>
  <h2 *ngIf="option == 2" class="page-header Titutlo_form animated fadeIn fast">Calibración de estructura de control</h2>
  <h2 *ngIf="option == 3" class="page-header Titutlo_form animated fadeIn fast">Curva de calibracón</h2>

    <div class="row">
      <div class="col-xs-6">
        <div *ngIf="estado == 1" class="alert alert-success animated fadeIn fast" role="alert">
          La informacion se ha guardado correctamente.
        </div>
        <div *ngIf="estado == 0" class="alert alert-danger animated fadeIn fast" role="alert">
          Se ha producido un error, intente mas tarde.
        </div>
        <div *ngIf="estado == 2" class="alert alert-warning animated fadeIn fast" role="alert">
          El codigo ya existe.
        </div>
      </div>
    </div>

    <tabset #tabSeleccion>
      <tab heading="Registrar" (select)="onClickChoose(1,formAC)"></tab>
      <tab heading="Calibrar" (select)="onClickChoose(2,formAC)"></tab>
      <tab heading="Ver Curva de calibracón" (select)="onClickChoose(3,formAC)" ></tab>
    </tabset>

  <br/>

  <ng4-loading-spinner> </ng4-loading-spinner>

  <div class="contenedor-form">

    <div *ngIf="option == 1" class="row">

        <div class="col-xs-12">

          <form #formR="ngForm" (ngSubmit)="registrar(formR)" autocomplete="off">

            <div *ngIf="estado == 3" class="alert alert-warning" role="alert">
              No esta permitido el 0.
            </div>

            <div [ngClass]="(!rCanal.valid && rCanal.touched) ? 'form-group has-error' : 'form-group'">
              <div class="form-group">
                <label [ngClass]="(!rCanal.valid && rCanal.touched) ? 'label-error' : 'label-normal'">Buscar canal</label>
                <ng2-completer [(ngModel)]="canalCompleter" (selected)="onSelectedCanal($event)" (keyup)="onKeyUpCanal()" [datasource]="dataServiceCanal"
                  [inputClass]="['form-control']" [minSearchLength]="4" #rCanal="ngModel" name="rCanal" [textSearching]="'Buscando...'"
                  [placeholder]="'Buscar canal'" [textNoResults]="'Sin resultados'" [clearUnselected]="true" required></ng2-completer>
                <span class="msg-error" *ngIf="!rCanal.valid && rCanal.touched">Campo obligatorio</span>
              </div>
            </div>

            <div [ngClass]="(!rCodigo.valid && rCodigo.touched) ? 'form-group has-error' : 'form-group'">
              <label [ngClass]="(!rCodigo.valid && rCodigo.touched) ? 'label-error' : 'label-normal'">Codigo de la estructura de control</label>
              <input [(ngModel)]="estructura.codigo" #rCodigo="ngModel" type="text" class="form-control" placeholder="Ingrese el codigo"
                name="rcodigo" required/>
              <span class="msg-error" *ngIf="!rCodigo.valid && rCodigo.touched">Campo obligatorio</span>
            </div>

            <div class="cont_btns">
              <button type="submit" class="btn btn-primary btn_guardar" [disabled]="!formR.form.valid || estructura.canalId == null">
                <i class="fas fa-save fa-fw"></i> Guardar
              </button>
            </div>

          </form>

        </div>

    </div>

    <div *ngIf="option == 2" class="row">

        <form #formC="ngForm" (ngSubmit)="calibrarSubmit(formR)" autocomplete="off">

          <div [ngClass]="(!calibrar) ? 'col-xs-12' : 'col-xs-6'" class="animated fadeIn">

            <div *ngIf="!calibrar" class="form-group cont_buscar_estructura">
              <label class="label-normal">Buscar estructura por codigo</label>
              <ng2-completer [(ngModel)]="estructuraCompleter" name="estructuraCompleter" (selected)="onSelectedEstructura($event)" [datasource]="dataServiceEstructura"
                [inputClass]="['form-control']" #cCodigo="ngModel" [minSearchLength]="2" [textSearching]="'Buscando...'" [placeholder]="'Buscar estructural de control'"
                [pause]="500" [textNoResults]="'Sin resultados'" [clearUnselected]="true"></ng2-completer>
            </div>

            <div *ngIf="calibrar" class="animated fadeIn">
              <div [ngClass]="(!CDatoY.valid && CDatoY.touched) ? 'form-group has-error' : 'form-group'">
                <label [ngClass]="(!CDatoY.valid && CDatoY.touched) ? 'label-error' : 'label-normal'">Tirante del agua (m)
                </label>
                <input [(ngModel)]="datoY" #CDatoY="ngModel" name="datoY" type="number" class="form-control" placeholder="Ingrese el tirante"
                  required/>
                <span class="msg-error" *ngIf="!CDatoY.valid && CDatoY.touched">Campo obligatorio</span>
              </div>

              <div [ngClass]="(!CDatoX.valid && CDatoX.touched) ? 'form-group has-error' : 'form-group'">
                <label [ngClass]="(!CDatoX.valid && CDatoX.touched) ? 'label-error' : 'label-normal'">Caudal (L.P.S)
                </label>
                <input [(ngModel)]="datoX" #CDatoX="ngModel" name="datoX" type="number" class="form-control" placeholder="Ingrese el cudal"
                  required/>
                <span class="msg-error" *ngIf="!CDatoX.valid && CDatoX.touched">Campo obligatorio</span>
              </div>

              <div class="cont_btns">
                <button *ngIf="!reemplazar" [disabled]="lstX.length != 8" class="btn btn-primary btn_general" type="submit">
                  <i class="fas fa-tachometer-alt fa-fw"></i>  Calibrar
                </button>
                <button *ngIf="!reemplazar" (click)="onClickCalibrarCancelar(formC)" class="btn btn-danger btn_general" type="button">
                  <i class="fas fa-ban fa-fw"></i>  Cancelar
                </button>
                <button *ngIf="!reemplazar" [disabled]="!formC.form.valid || lstX.length == 8" (click)="onClickAgregar(formC)" class="btn btn-success btn_general"
                  type="button">
                  <i class="fas fa-plus fa-fw"></i> Agregar
                </button>
                <button *ngIf="reemplazar" [disabled]="!formC.form.valid" (click)="onClickReemplazar(formC)" class="btn btn-primary btn_general" type="button">
                  <i class="fas fa-check fa-fw"></i> Reemplazar
                </button>
                <button *ngIf="reemplazar" (click)="onClickReemplazarCancelar(formC)" class="btn btn-danger btn_general" type="button">
                  <i class="fas fa-ban fa-fw"></i> Cancelar
                </button>
              </div>


            </div>
          </div>

          <div *ngIf="lstX.length != 0" class="col-xs-6 cont_table">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="text-center">Caudal</th>
                    <th class="text-center">Tirante</th>
                    <th class="text-center">Editar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of lstX; let i = index" [attr.data-index]="i">
                    <td class="text-center">{{x}}</td>
                    <td class="text-center">{{lstY[i]}}</td>
                    <td class="text-center">
                        <i class="fas fa-pencil-alt" (click)="onClickReemplazarEditar(i)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>

          </div>

        </form>

    </div>


    <div *ngIf="option == 3" class="row animted fadeIn fast">

        <div class="form-group col-xs-12">
          <label class="label-normal">Buscar estructura por codigo</label>
          <ng2-completer (keyup)="onKeyUpGraficar()" [(ngModel)]="estructuraCompleter" name="estructuraCompleter" (selected)="onSelectedEstructuraGraficar($event)"
            [datasource]="dataServiceEstructuraGraficar" [inputClass]="['form-control']" #gCodigo="ngModel" [minSearchLength]="2"
            [textSearching]="'Buscando...'" [placeholder]="'Buscar estructural de control'" [pause]="500" [textNoResults]="'Sin resultados'"
            [clearUnselected]="true"></ng2-completer>
        </div>

        <div *ngIf="graficar" class="row">
          <div class="col-md-12">
            <h3 *ngIf="ecuacion" class="text-center">
              <span>y = {{a | number}}
                <i>x</i>
                <sup>
                  <i>{{b | number}}</i>
                </sup>
              </span>
            </h3>
          </div>
        </div>
    </div>

  </div>

  <div *ngIf="option == 3" class="row contenedor-grafica">
    <h3 *ngIf="!ecuacion && graficar" class="text-center animated fadeIn">
      La estructura de control no ha sido calibrada.
    </h3>

    <div class="cont_grafica">
      <div [hidden]="!chart || !graficar || option != 3" style="display: block; height:400">
        <canvas width="400" height="200" id="canvas">{{ chart }}</canvas>
      </div>
    </div>
  </div>

</div>
