<div *ngIf="isAuthenticated()" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="nav-header">
      <a href="#" class="navbar-brand">SIOMARI</a>
    </div>

    <div class="collapse navbar-collapse">

      <!-- Menu principal -->
      <ul *ngIf="seleccionado == 0" class="nav navbar-nav">
        <li (click)="cambiarNav(2)">
          <a class="cursor-nav">Registro</a>
        </li>
        <li (click)="cambiarNav(3)">
          <a class="cursor-nav">Estroper</a>
        </li>
        <li (click)="cambiarNav(4)">
          <a class="cursor-nav">Hidrometría</a>
        </li>
        <li (click)="cambiarNav(1)">
          <a class="cursor-nav">Planeación</a>
        </li>
        <li (click)="cambiarNav(5)">
          <a class="cursor-nav">Programación</a>
        </li>
        <li (click)="cambiarNav(6)">
          <a class="cursor-nav">Distribución</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a class="cursor-nav" routerLink="/entrega">Entregas</a>
        </li>
        <li (click)="cambiarNav(9)">
          <a class="cursor-nav">Evaluacion</a>
        </li>
        <li (click)="cambiarNav(8)">
          <a class="cursor-nav">Consultas</a>
        </li>
        <li (click)="cambiarNav(10)">
          <a class="cursor-nav">Cuentas</a>
        </li>
        <li (click)="cerrarSesion()">
          <a class="cursor-nav">Cerrar sesión</a>
        </li>
      </ul>

      <!-- Sub-menu 1 -->
      <ul *ngIf="seleccionado == 1" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="/plan-siembra">Solicitud de siembra</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/plan-siembra-info">Plan de siembra</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/balance">Balance</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/climatologia">Climatología</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/config">Condeplan</a>
        </li>
      </ul>

      <!-- Sub-menu 2 -->
      <div *ngIf="seleccionado == 2" class="nav navbar-nav">
        <li [routerLinkActive]="['active']" class="dropdown" dropdown>
          <a dropdownToggle style="cursor: pointer" class="dropdown-toggle" role="button">Predio
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="predio/registrar">Registrar</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="predio/editar">Editar</a>
            </li>
          </ul>
        </li>
      </div>

      <div *ngIf="seleccionado == 2" class="nav navbar-nav">
        <li [routerLinkActive]="['active']" class="dropdown" dropdown>
          <a dropdownToggle style="cursor: pointer" class="dropdown-toggle" role="button">Usuario
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="usuario/registrar">Registrar</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="usuario/editar">Editar</a>
            </li>
          </ul>
        </li>
      </div>

      <!-- Sub-menu 3 -->
      <ul *ngIf="seleccionado == 3" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="/distrito">Distrito</a>
        </li>
      </ul>

      <div *ngIf="seleccionado == 3" class="nav navbar-nav">
        <li [routerLinkActive]="['active']" class="dropdown" dropdown>
          <a dropdownToggle style="cursor: pointer" class="dropdown-toggle" role="button">Unidad
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="unidad/registrar">Registrar</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="unidad/editar">Editar</a>
            </li>
          </ul>
        </li>
      </div>

      <div *ngIf="seleccionado == 3" class="nav navbar-nav">
        <li [routerLinkActive]="['active']" class="dropdown" dropdown>
          <a dropdownToggle style="cursor: pointer" class="dropdown-toggle" role="button">Zona
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="zona/registrar">Registrar</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="zona/editar">Editar</a>
            </li>
          </ul>
        </li>
      </div>

      <div *ngIf="seleccionado == 3" class="nav navbar-nav">
        <li [routerLinkActive]="['active']" class="dropdown" dropdown>
          <a dropdownToggle style="cursor: pointer" class="dropdown-toggle" role="button">Seccion
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="seccion/registrar">Registrar</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="seccion/editar">Editar</a>
            </li>
          </ul>
        </li>
      </div>

      <div *ngIf="seleccionado == 3" class="nav navbar-nav">
        <li [routerLinkActive]="['active']" class="dropdown" dropdown>
          <a dropdownToggle style="cursor: pointer" class="dropdown-toggle" role="button">Canal
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="canal/registrar">Registrar</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="canal/editar">Editar</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="agregar-obra">Agregar obra</a>
            </li>
          </ul>
        </li>
      </div>

      <div *ngIf="seleccionado == 3" class="nav navbar-nav">
        <li [routerLinkActive]="['active']" class="dropdown" dropdown>
          <a dropdownToggle style="cursor: pointer" class="dropdown-toggle" role="button">Cultivo
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="cultivo/registrar">Registrar</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="cultivo/editar">Editar</a>
            </li>
          </ul>
        </li>
      </div>

      <div *ngIf="seleccionado == 3" class="nav navbar-nav">
        <li [routerLinkActive]="['active']" class="dropdown" dropdown>
          <a dropdownToggle style="cursor: pointer" class="dropdown-toggle" role="button">Obra
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="obra/registrar">Registrar</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a style="cursor: pointer" routerLink="obra/editar">Editar</a>
            </li>
          </ul>
        </li>
      </div>

      <ul *ngIf="seleccionado == 3" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="/establecer-servidores">Servidores</a>
        </li>
      </ul>

      <!-- Sub-menu 4 -->
      <ul *ngIf="seleccionado == 4" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="/estructura-control">Estructura de control</a>
        </li>
      </ul>

      <!-- Sub-menu 5 -->
      <ul *ngIf="seleccionado == 5" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="/solicitud-riego">Solicitud Riego</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/programacion-semanal">Programacion semanal</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/calculo-caudal-semanal">Caudal semanal</a>
        </li>
      </ul>

      <!-- Sub-menu 6 -->
      <ul *ngIf="seleccionado == 6" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="/registro-manejo-agua">Registro de manejo de agua</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/manejo-agua-grafica">Grafica de manejo de agua</a>
        </li>
      </ul>

      <!-- Sub-menu 8 -->
      <ul *ngIf="seleccionado == 8" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="/reporte/caudalServido">Facturación</a>
        </li>
      </ul>
      <ul *ngIf="seleccionado == 8" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="consulta/usuario">RGU</a>
        </li>
      </ul>
      <ul *ngIf="seleccionado == 8" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="consulta/predio">RGP</a>
        </li>
      </ul>
      <ul *ngIf="seleccionado == 8" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="consulta/canal">Canal</a>
        </li>
      </ul>
      <ul *ngIf="seleccionado == 8" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="consulta/divoper">Divoper</a>
        </li>
      </ul>
      <ul *ngIf="seleccionado == 8" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="distribucion-agua-mensual">Distribución de agua</a>
        </li>
      </ul>

      <!-- Sub-menu 9 -->
      <ul *ngIf="seleccionado == 9" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="/eficiencia-perdidas">Eficiencia/Perdidas</a>
        </li>
      </ul>

      <!-- Sub-menu 10 -->
      <ul *ngIf="seleccionado == 10" class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="/cuenta/registrar">Crear</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/cuenta/editar">Actualizar</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/cambiar-clave">Cambiar contraseña</a>
        </li>
      </ul>

      <ul *ngIf="seleccionado != 0" class="nav navbar-nav">
        <li (click)="cambiarNav(0)">
          <a class="cursor-nav">Atras</a>
        </li>
      </ul>
    </div>
  </div>
</div>