<div class="cont-principal animated fadeIn">

    <div class="contenido animated fadeIn">

      <div class="cont_titulos">
        <h2 class="TItulo_Inicio animated fadeIn fast">Sistema de información operacional
             para la utilización de manejo de agua</h2>
        <h4 class="subtitulo_inicio animated fadeIn fast">Distrito de adecuación de tierras de mediana escala el juncal</h4>
      </div>

      <div class="cont_btns">
        <button type="button" name="button" class="btn btn-primary btn_comenzar animated fadeIn">Comenzar</button>
      </div>

    </div>

</div>
