div.cont-principal{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: rgba(0,0,0,0);
}
div.contenido{
  width: 70%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 24%;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(0,0,0,0);
}
div.cont_btns{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background-color: rgba(0,255,255,0);
}
button.btn_comenzar{
  font-family: 'Old Standard TT', 'Old Standard TT', 'PT Sans', sans-serif;
  font-size: 23px;
  width: 30%;
}

h2.TItulo_Inicio{
  font-family: 'Old Standard TT', 'Old Standard TT', 'PT Sans', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 15px;
  color: rgba(255,255,255,1);
}
h4.subtitulo_inicio{
  font-family: 'Old Standard TT', 'Old Standard TT', 'PT Sans', sans-serif;
  text-align: center;
  font-size: 25px;
  margin-bottom: 25px;
  color: rgba(255,255,255);
}
