/*-------------------------------------------------------------------------
                    estilo al formulario, label y botones
---------------------------------------------------------------------------*/
.contenedor-principal{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: transparent;
}
div label.label-normal {
  color: #848889;
  margin-bottom: 10px;
}
div label.label-error{
  color: #B44141;
  margin-bottom: 10px;
}
div.cont_btns{
/*  display: flex;
  flex-flow: row wrap;
  justify-content: center;*/
  width: 100%;
  margin-left: 40%;
}
button.btn_general{
  width: 20%;
  margin-right: 8px;
  margin-top: 8px;
}
button.btn_guardar{
  width: 20%;
}
.contenedor-form{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  border: 1.5px solid #3B9AC1;
  border-radius: 4px;
  padding: 30px 20px 40px 20px;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
  background: rgba(255,255,255,1);
}
.Titutlo_form{
  font-family: 'PT Sans';
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  padding-left: 15px;
  color: #3B9AC1;
}
/*------------------------------------------------------------------
                        Estilo de los Inputs
-------------------------------------------------------------------*/
input[type=text]{
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  margin: 0px 0;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type=text]:focus{
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

/* ------ Inputs Error --------*/
.error input[type=text]{
  border-color: #FF5D5D;
  box-shadow: 0 0 8px 0 #B44141;
}
