<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="text-vertical-center text-center" rowspan="2" colspan="2">Mes</th>
      <th class="text-center" colspan="3">Volumen</th>
      <th class="text-center">Total</th>
    </tr>
    <tr>
      <th class="text-center">Decada 1</th>
      <th class="text-center">Decada 2</th>
      <th class="text-center">Decada 3</th>
      <th class="text-center">
        <span>
          <i>m</i>
          <sup>
            <i>3</i>
          </sup>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>

    <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
    <tr>
      <th rowspan="2" class="text-vertical-center text-center">Marzo</th>
      <th class="text-center">Demanda</th>
      <td class="text-center">8232.484</td>
      <td class="text-center">12820.806</td>
      <td class="text-center">12296.187</td>
      <td class="text-center">33349.477</td>
    </tr>
    <tr>
      <th class="text-center">Balance</th>
      <td bgcolor="#D4EDDA" class="text-center">8232.484</td>
      <td bgcolor="#D4EDDA" class="text-center">12820.806</td>
      <td bgcolor="#F8D7DA" class="text-center">12296.187</td>
      <td bgcolor="#D4EDDA" class="text-center">33349.477</td>
    </tr>
    <tr>
      <th rowspan="2" class="text-vertical-center text-center">Abril</th>
      <th class="text-center">Demanda</th>
      <td class="text-center">43591.082</td>
      <td class="text-center">48724.152</td>
      <td class="text-center">47617.18</td>
      <td class="text-center">139932.4</td>
    </tr>
    <tr>
      <th class="text-center">Balance</th>
      <td [ngClass]="-1 < 0 ? 'balance-error' : 'balance-success'" class="text-center">-43591.082</td>
      <td [ngClass]="-1 < 0 ? 'balance-error' : 'balance-success'" class="text-center">-48724.152</td>
      <td [ngClass]="1 < 0 ? 'balance-error' : 'balance-success'" class="text-center">-47617.18</td>
      <td [ngClass]="1 < 0 ? 'balance-error' : 'balance-success'" class="text-center">-139932.4</td>
    </tr>
    <tr>
      <th rowspan="2" class="text-vertical-center text-center">Mayo</th>
      <th class="text-center">Demanda</th>
      <td class="text-center">67349.87</td>
      <td class="text-center">67998.234</td>
      <td class="text-center">67349.87</td>
      <td class="text-center">202697.97</td>
    </tr>
    <tr>
      <th class="text-center">Balance</th>
      <td bgcolor="#F8D7DA" class="text-center">-67349.87</td>
      <td bgcolor="#F8D7DA" class="text-center">-67998.234</td>
      <td bgcolor="#F8D7DA" class="text-center">-67349.87</td>
      <td bgcolor="#F8D7DA" class="text-center">-202697.97</td>
    </tr>
    <tr>
      <th rowspan="2" class="text-vertical-center text-center">Junio</th>
      <th class="text-center">Demanda</th>
      <td class="text-center">36580.453</td>
      <td class="text-center">36693.8</td>
      <td class="text-center">37939.035</td>
      <td class="text-center">111213.28</td>
    </tr>
    <tr>
      <th class="text-center">Balance</th>
      <td bgcolor="#D4EDDA" class="text-center">36580.453</td>
      <td bgcolor="#D4EDDA" class="text-center">36693.8</td>
      <td bgcolor="#D4EDDA" class="text-center">37939.035</td>
      <td bgcolor="#F8D7DA" class="text-center">-111213.28</td>
    </tr>
    <tr>
      <th rowspan="2" class="text-vertical-center text-center">Julio</th>
      <th class="text-center">Demanda</th>
      <td class="text-center">6999.9927</td>
      <td class="text-center">7475.5825</td>
      <td class="text-center">7475.5825</td>
      <td class="text-center">21951.158</td>
    </tr>
    <tr>
      <th class="text-center">Balance</th>
      <td bgcolor="#F8D7DA" class="text-center">-6999.9927</td>
      <td bgcolor="#F8D7DA" class="text-center">-7475.5825</td>
      <td bgcolor="#F8D7DA" class="text-center">-7475.5825</td>
      <td bgcolor="#F8D7DA" class="text-center">-21951.158</td>
    </tr>

  </tbody>
</table>

<!-- -------------------------------------------------------- -->

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="text-vertical-center text-center" rowspan="2">Mes</th>
      <th class="text-center" colspan="3">Volumen</th>
      <th class="text-center">Total</th>
    </tr>
    <tr>
      <th class="text-center">Decada 1</th>
      <th class="text-center">Decada 2</th>
      <th class="text-center">Decada 3</th>
      <th class="text-center">
        <span>
          <i>m</i>
          <sup>
            <i>3</i>
          </sup>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>

    <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
    <tr>
      <th class="text-center">Marzo</th>
      <td class="text-center">8232.484</td>
      <td class="text-center">12820.806</td>
      <td class="text-center">12296.187</td>
      <td class="text-center">33349.477</td>
    </tr>
    <tr>
      <th class="text-center">Abril</th>
      <td class="text-center">43591.082</td>
      <td class="text-center">48724.152</td>
      <td class="text-center">47617.18</td>
      <td class="text-center">139932.4</td>
    </tr>
    <tr>
      <th class="text-center">Mayo</th>
      <td class="text-center">67349.87</td>
      <td class="text-center">67998.234</td>
      <td class="text-center">67349.87</td>
      <td class="text-center">202697.97</td>
    </tr>
    <tr>
      <th class="text-center">Junio</th>
      <td class="text-center">36580.453</td>
      <td class="text-center">36693.8</td>
      <td class="text-center">37939.035</td>
      <td class="text-center">111213.28</td>
    </tr>
    <tr>
      <th class="text-center">Julio</th>
      <td class="text-center">6999.9927</td>
      <td class="text-center">7475.5825</td>
      <td class="text-center">7475.5825</td>
      <td class="text-center">21951.158</td>
    </tr>

    <tr>
      <th class="text-center">Balance</th>
      <td bgcolor="#F8D7DA" class="text-center">-2000</td>
      <td bgcolor="#F8D7DA" class="text-center">-4340</td>
      <td bgcolor="#D4EDDA" class="text-center">4562.5825</td>
      <td bgcolor="#D4EDDA" class="text-center">12343.158</td>
    </tr>

  </tbody>
</table>