<div class="col-xs-12 contenedor-principal animated fadeIn">

  <div class="ContTitulo">
    <h2 class="page-header Titutlo_form animated fadeIn fast">{{title}}</h2>
  </div>

  <div *ngIf="estado == 1" class="alert alert-success animated fadeIn fast" role="alert">
    La informacion se ha guardado correctamente.
  </div>
  <div *ngIf="estado == 0" class="alert alert-danger animated fadeIn fast" role="alert">
    Se ha producido un error, intente mas tarde.
  </div>
  <div *ngIf="estado == 2" class="alert alert-warning animated fadeIn fast" role="alert">
    La identificacion ya existe.
  </div>

  <form *ngIf="!mostrarForm" class="col-xs-6 contenedor-form animated fadeIn" novalidate>
    <div class="form-group animated fadeIn fast">
      <label class="label-normal animated fadeIn fast">Buscar Usuario</label>
      <ng2-completer
        [inputClass]="['form-control']"
        [datasource]="dataServiceUsuario"
        [minSearchLength]="5"
        [textSearching]="'Buscando...'"
        [placeholder]="'Buscar por identificación'"
        [textNoResults]="'Sin resultados'"
        (selected)="onUsuarioSelect($event)"
        [(ngModel)]="searchUsuario" name="cPredio"
        required
        [clearUnselected]=true>
      </ng2-completer>
    </div>
  </form>

  <form *ngIf="mostrarForm" #form="ngForm" (ngSubmit)="registrar(form)" autocomplete="off" novalidate>

    <div class="row contenedor-form">

      <div class="col-xs-6">

        <div [ngClass]="(!identificacion.valid && identificacion.touched) ? 'form-group has-error error inputWithIcon inputWithIconBgError' : 'form-group inputWithIcon inputWithIconBg'" >
          <label [ngClass]="(!identificacion.valid && identificacion.touched) ? 'label-error' : 'label-normal'"  class="animated fadeIn" for="identificacion">Identificación*</label>
          <input
            [(ngModel)]="usuario.cedula"
            #identificacion="ngModel"
            name="identificacion" id="identificacion"
            type="text" class="form-control animated fadeIn fast"
            placeholder="Ingrese la identificación" required>
            <i class="fas fa-fingerprint fa-fw"></i>
          <span class="msg-error" *ngIf="!identificacion.valid && identificacion.touched">Campo obligatorio</span>
        </div>

        <div [ngClass]="(!nombre.valid && nombre.touched) ? 'form-group has-error error inputWithIcon inputWithIconBgError' : 'form-group inputWithIcon inputWithIconBg'">
          <label for="nombres" class="control-label animated fadeIn" [ngClass]="(!nombre.valid && nombre.touched) ? 'label-error' : 'label-normal'">Nombres*</label>
          <input [(ngModel)]="usuario.nombre" #nombre="ngModel" name="nombre" id="nombre" type="text" class="form-control animated fadeIn fast" placeholder="Ingrese los nombres"
            required/>
            <i class="far fa-user fa-fw"></i>
          <span class="msg-error" *ngIf="!nombre.valid && nombre.touched">Campo obligatorio</span>
        </div>

        <div [ngClass]="(!apellido.valid && apellido.touched) ? 'form-group has-error error inputWithIcon inputWithIconBgError' : 'form-group inputWithIcon inputWithIconBg'">
          <label for="apellidos" class="control-label animated fadeIn" [ngClass]="(!apellido.valid && apellido.touched) ? 'label-error' : 'label-normal'">Apellidos*</label>
          <input [(ngModel)]="usuario.apellido" #apellido="ngModel" name="apellido" id="apellido" type="text" class="form-control animated fadeIn fast"
            placeholder="Ingrese los apellidos" required/>
            <i class="far fa-user fa-fw"></i>
          <span class="msg-error" *ngIf="!apellido.valid && apellido.touched">Campo obligatorio</span>
        </div>

        <div [ngClass]="(!direccion.valid && direccion.touched) ? 'form-group has-error error inputWithIcon inputWithIconBgError' : 'form-group inputWithIcon inputWithIconBg'">
          <label for="direccion" class="control-label animated fadeIn" [ngClass]="(!direccion.valid && direccion.touched) ? 'label-error' : 'label-normal'">Dirección*</label>
          <input [(ngModel)]="usuario.direccion" #direccion="ngModel" name="direccion" id="direccion" type="text" class="form-control animated fadeIn fast"
            placeholder="Ingrese la dirección" required/>
            <i class="fas fa-map-marker-alt fa-fw"></i>
          <span class="msg-error" *ngIf="!direccion.valid && direccion.touched">Campo obligatorio</span>
        </div>

        <div class="form-group">
          <label class="control-label label-normal animated fadeIn" for="predio">Predio</label>
          <ng2-completer type="text"
            [inputClass]="['form-control animated fadeIn fast']"
            [datasource]="dataServicePredio"
            [ngStyle]="{'padding-left': '45px'}"
            [minSearchLength]="3"
            [textSearching]="'Buscando...'"
            [placeholder]="'Buscar por nombre o código'"
            [textNoResults]="'Sin resultados'"
            (selected)="onPredioSelect($event)"
            #predio="ngModel"
            [(ngModel)]="searchPredio" id="predio" class="inputPredio" name="predio" [clearUnselected]=true></ng2-completer>
        </div>

      </div>

      <div class="col-xs-6">

        <div [ngClass]="(!ciudad.valid && ciudad.touched) ? 'form-group has-error error inputWithIcon inputWithIconBgError' : 'form-group inputWithIcon inputWithIconBg'">
          <label for="ciudad" class="control-label animated fadeIn" [ngClass]="(!ciudad.valid && ciudad.touched) ? 'label-error' : 'label-normal'">Ciudad*</label>
          <input [(ngModel)]="usuario.ciudad" #ciudad="ngModel" name="ciudad" id="ciudad" type="text" class="form-control animated fadeIn fast" placeholder="Ingrese la ciudad" required/>
          <i class="far fa-building fa-fw"></i>
          <span class="msg-error" *ngIf="!ciudad.valid && ciudad.touched">Campo obligatorio</span>
        </div>

        <div class="form-group inputWithIcon inputWithIconBg">
          <label for="telefono" class="label-normal animated fadeIn">Telefono</label>
          <input [(ngModel)]="usuario.telefono" #telefono="ngModel" name="telefono" id="telefono" type="text" class="form-control animated fadeIn fast"
            placeholder="Ingrese el telefono (opcional)" />
            <i class="fas fa-phone fa-fw"></i>
        </div>

        <div class="form-group inputWithIcon inputWithIconBg">
          <label for="celular" class="label-normal animated fadeIn">Celular</label>
          <input [(ngModel)]="usuario.celular" #celular="ngModel" name="celular" id="celular" type="text" class="form-control animated fadeIn fast" placeholder="Ingrese el celular (opcional)"
          />
          <i class="fas fa-mobile-alt fa-fw"></i>
        </div>

        <div class="form-group inputWithIcon inputWithIconBg">
          <label for="correo" class="label-normal animated fadeIn">Correo electrónico</label>
          <input [(ngModel)]="usuario.correo" #correo="ngModel" name="correo" id="correo" type="text" class="form-control animated fadeIn fast" placeholder="Ingrese el correo electrónico (opcional)"
          />
          <i class="far fa-envelope fa-fw"></i>
        </div>

        <div [ngClass]="(!propietario.valid && propietario.touched) ? 'form-group has-error error' : 'form-group'" class="animated fadeIn">
          <label class="label-normal control-label" for="predio">Propietario</label>
          <select class="form-control" [(ngModel)]="usuario.propietario" #propietario="ngModel" name="propietario" id="propietario"
            required>
            <option [ngValue]="undefined">-- Seleccione --</option>
            <option value="true">Si</option>
            <option value="false">No</option>
          </select>
          <span class="msg-error" *ngIf="!propietario.valid && propietario.touched">Campo obligatorio</span>
        </div>


      </div>

      <div class="cont_btns">
        <button [ngClass]="(!edicion) ? 'btn btn-primary btn_guardar': 'btn btn-primary btn_general'" type="submit" [disabled]="!form.form.valid" >
          <i class="far fa-save fa-fw"></i> Guardar
        </button>
        <button *ngIf="edicion" (click)="onClickCancelar()" class="btn btn-danger btn_general" type="button">
          <i class="fas fa-ban fa-fw"></i> Cancelar
        </button>
      </div>

    </div>
  </form>
</div>
