/*-------------------------------------------------------------------------
                    estilo al formulario, label y botones
---------------------------------------------------------------------------*/
.contenedor-principal{
  width: 90%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: transparent;
}
/* color estandar de los labels*/
div label.label-normal {
  color: #848889;
  transition: .5s;
}
div label.label-error{
  color: #B44141;
  transition: .5s;
}
/* cambiar de color opcion eliminar*/
ul > li span.span-error:hover{
  background-color: #B44141;
  transition: .4s;
}
/* caracteristicas del contenedor del formulario*/
.contenedor-form{
  border: 1.5px solid #3B9AC1;
  border-top: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 30px 20px 40px 20px;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
}
/* contenedor secundario del formulario */
div.cont_tabs{
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 10px;
}
/* contenedor de las listas creadas dentro del tab Servido*/
div.cont_lst_ubicacion_canal{
  padding-top: 18px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 0px;
  margin-right: 0px;
  border: 1px solid #3B9AC1;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;

}
/* caracteristicas del titulo*/
.Titutlo_form{
  font-family: 'PT Sans';
  font-size: 35px;
  font-style: normal;
  padding-left: 15px;
  color: #3B9AC1;
}
/* caracteristicas del titulo de cada tab*/
.Titutlo_tabs{
  font-family: 'PT Sans';
  font-size: 25px;
  font-style: normal;
  padding-left: 10px;
  margin-top: -40px;
  color: #3B9AC1;
}
/* estilo boton agregar */
button.btn-agregar{
  background-color: #3B9AC1;
  color: #FFFFFF;
  width: 35%;
  margin-left: 140px;
}
button.btn-agregar:hover{
  background-color: #2C80A4;
  transition: .5s;
}
/*------------------------------------------------------------------
                        Estilo de los Inputs
-------------------------------------------------------------------*/
input[type=text]{
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
}
input[type=number]{
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
}
select{
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
}
textarea{
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
}
input[type=number]:focus{
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
  transition: .5s;
}
input[type=text]:focus{
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
  transition: .5s;
}

/* ------ Inputs Error --------*/
.error input[type=text]{
  border-color: #FF5D5D;
  box-shadow: 0 0 8px 0 #B44141;
  transition: .5s;
}
.error input[type=number]{
  border-color: #FF5D5D;
  box-shadow: 0 0 8px 0 #B44141;
  transition: .5s;
}
.error select{
  border-color: #FF5D5D;
  box-shadow: 0 0 8px 0 #B44141;
  transition: .5s;
<<<<<<< HEAD
}
=======
}
>>>>>>> actualizaciones
