/*-------------------------------------------------------------------------
                    estilo al formulario, label y botones
---------------------------------------------------------------------------*/
.contenedor-principal{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: rgba(255,255,255,0);
}
/* caracteristicas del contenedor del formulario*/
.contenedor-form{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  border: 1.5px solid #3B9AC1;
  border-radius: 4px;
  padding: 20px 15px;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
  background: rgba(255,255,250,0);
}
/* caracteristicas del titulo*/
.Titulo_form{
  font-family: 'PT Sans';
  font-size: 35px;
  font-style: normal;
  padding-left: 15px;
  color: #3B9AC1;
}
div label.label-normal {
  color: #848889;
  margin-bottom: 8px;
  transition: .5s;
}
div label.label-error{
  color: #B44141;
  margin-bottom: 8px;
  transition: .5s;
}
button.btn_guardar{
 margin-left: 37%;
 width: 22%;
}
div.cont_btns{
  background-color: rgba(255,255,255,0);
  flex:   1;
  margin-left: 0%;
}
