<div class="col-xs-12 contenedor-principal">

  <h1 class="page-header Titutlo_form animated fadeIn fast">Entrega - Suspencion de agua</h1>

  <ng4-loading-spinner> </ng4-loading-spinner>

  <div *ngIf="estado == 0" class="alert alert-danger animated fadeIn fast" role="alert">
    Ha ocurrido un error, intenta mas tarde.
  </div>
  <div *ngIf="estado == 1" class="alert alert-success animated fadeIn fast" role="alert">
    La informacion se ha guardado exitosamente.
  </div>

  <form #form="ngForm" (ngSubmit)="registrar(form)">

    <div class="col-xs-6 contenedor-form">

      <div [ngClass]="(cPredio.invalid && cPredio.touched) ? 'form-group has-error' : 'form-group'">
        <label [ngClass]="(cPredio.invalid && cPredio.touched) ? 'label-error' : 'label-normal'">Predio</label>
        <ng2-completer [(ngModel)]="searchPredio" [inputClass]="['form-control']" [datasource]="dataServicePredio" [minSearchLength]="4"
          [textSearching]="'Buscando...'" [placeholder]="'Buscar predio por nombre o código'" [textNoResults]="'Sin resultados'" [pause]="1000"
          (selected)="onPredioSelect($event)" #cPredio="ngModel" [disabled]="verificado" name="predioSearch" [clearUnselected]="true"
          required></ng2-completer>
        <span class="msg-error" *ngIf="cPredio.invalid && cPredio.touched">Campo obligatorio</span>
      </div>

      <div [ngClass]="(cFecha.invalid && cFecha.touched) ? 'form-group has-error' : 'form-group'">
        <label [ngClass]="(cPredio.invalid && cPredio.touched) ? 'label-error' : 'label-normal'">Fecha y hora de entrega</label>
        <input [(bsValue)]="fechaEntrega" [(ngModel)]="ff" #cFecha="ngModel" name="cFecha" type="text" class="form-control" #dp="bsDatepicker"
          bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }" required placeholder="Ingrese la fecha de inicio del servicio"
        />
        <timepicker [(ngModel)]="fechaEntrega" name="h2"></timepicker>
        <span class="msg-error" *ngIf="cFecha.invalid && cFecha.touched">Campo obligatorio</span>
      </div>

      <div [ngClass]="(cFecha.invalid && cFecha.touched) ? 'form-group has-error' : 'form-group'">
        <label [ngClass]="(cPredio.invalid && cPredio.touched) ? 'label-error' : 'label-normal'">Fecha y hora de suspensión</label>
        <input [(bsValue)]="fechaSuspension" [(ngModel)]="ffd" #cFecha2="ngModel" name="cFecha2" type="text" class="form-control" #dp2="bsDatepicker"
        [minDate]="fechaEntrega" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }" required placeholder="Ingrese la fecha de suspensión del servicio"
        />
        <timepicker [(ngModel)]="fechaSuspension" name="h1"></timepicker>
        <span class="msg-error" *ngIf="cFecha.invalid && cFecha.touched">Campo obligatorio</span>
      </div>

      <button [disabled]="!form.form.valid || predio == null" type="submit" class="btn btn-primary btn_guardar">
      <i class="fas fa-save fa-fw"></i> Guardar
      </button>
    </div>



  </form>
</div>
