<div class="col-xs-12">

  <h2>Consulta de canal</h2>

  <br>

  <ng4-loading-spinner> </ng4-loading-spinner>

  <div *ngIf="estado == 0" class="alert alert-danger" role="alert">
    Se ha producido un error, intente mas tarde.
  </div>

  <div class="row">
    <div *ngIf="!mostrarForm" class="form-group col-xs-6">
      <div class="form-group">
        <label class="control-label">Buscar canal</label>
        <ng2-completer (selected)="onSelectedCanal($event)" [datasource]="dataServiceCanal" [inputClass]="['form-control']" [minSearchLength]="3"
          [textSearching]="'Buscando...'" [placeholder]="'Buscar canal'" [textNoResults]="'Sin resultados'" [clearUnselected]="true"></ng2-completer>
      </div>
    </div>
  </div>

  <div *ngIf="consultado" class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Datos basicos</h3>
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="col-xs-6">

          <div class="form-group">
            <label>Código</label>
            <input value="{{canal.codigo}}" type="text" class="form-control" readonly/>
          </div>

          <div class="form-group">
            <label>Nombre</label>
            <input value="{{canal.nombre}}" type="text" class="form-control" readonly/>
          </div>

          <div class="form-group">
            <label>Caudal Diseño
              <span>(
                <i>m</i>
                <sup>
                  <i>3</i>
                </sup>
                <i>/seg</i>)
              </span>
            </label>
            <input value="{{canal.caudalDisenio}}" type="text" class="form-control" readonly/>
          </div>

          <div class="form-group">
            <label>Logintud (Km)</label>
            <input value="{{canal.longitud}}" type="text" class="form-control" readonly/>
          </div>

          <div class="form-group">
            <label>Total Predios Servidos</label>
            <input value="{{canal.sumPredios}}" type="text" class="form-control" readonly/>
          </div>

          <div class="form-group">
            <label>Total Área Servida</label>
            <input value="{{canal.areaServida}}" type="text" class="form-control" readonly/>
          </div>

          <div class="form-group">
            <label>Sección Típica</label>
            <input value="{{canal.seccionTipica}}" type="text" class="form-control" readonly/>
          </div>

        </div>

        <div class="col-xs-6">

          <div class="form-group">
            <label>Clase</label>
            <input value="{{canal.clase}}" type="text" class="form-control" readonly/>
          </div>

          <div class="form-group">
            <label>Clase</label>
            <input value="{{canal.clase}}" type="text" class="form-control" readonly/>
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <input value="{{canal.tipo}}" type="text" class="form-control" readonly/>
          </div>

          <div class="form-group">
            <label>Categoría</label>
            <input value="{{canal.categoria.replace('_',' ')}}" type="text" class="form-control" readonly/>
          </div>

          <div class="form-group">
            <label>Estado</label>
            <input value="{{canal.estadoDescripcion}}" type="text" class="form-control" readonly/>
          </div>

          <div class="form-group">
            <label>Canal Servidor</label>
            <input value="{{canal.canalServidor}}" type="text" class="form-control" readonly/>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-xs-3">

          <h3>Estructuras de Control</h3>

          <div class="list-group">
            <button (click)="onClickEstructura(i3,templateGrafica)" *ngFor="let e of canal.lstEstructuraControl; let i3 = index" [attr.data-index]="i3"
              type="button " class="list-group-item ">{{e.codigo}}</button>
          </div>

        </div>

        <div class="col-xs-3 ">

          <h3>Predios</h3>

          <accordion>
            <accordion-group *ngFor="let p of canal.lstPredio " heading="{{p.nombre}} - {{p.codigo}} ">
              <p>
                <b>Usuario:</b>
              </p>
              <p>{{p.nombreUsuario}}</p>
            </accordion-group>
          </accordion>


        </div>

        <div class="col-xs-3 ">

          <h3>Obras</h3>

          <accordion>
            <accordion-group *ngFor="let od of canal.lstObraDetalle; let i1 = index" [attr.data-index]="i1 " heading="{{od.obra}} ">
              <div class="list-group ">
                <button (click)="obraDetalle(i1,i2,templateObra) " [attr.data-index]="i2 " *ngFor="let o of od.lstCanalObra; let i2 = index"
                  type="button " class="list-group-item ">{{o.descripcion}}</button>
              </div>
            </accordion-group>
          </accordion>

        </div>

        <div class="col-xs-3 ">

          <h3>Canales Servidos</h3>

          <div class="list-group ">
            <button *ngFor="let c of canal.lstCanal " type="button " class="list-group-item ">{{c}}</button>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<ng-template #templateObra class="modalCenter ">
  <div class="modal-header ">
    <h4 class="modal-title pull-left text-center ">{{canalObraDetalle.obraId.nombre}}</h4>
    <button type="button " class="close pull-right " aria-label="Close " (click)="modalRef.hide() ">
      <span aria-hidden="true ">&times;</span>
    </button>
  </div>

  <div class="modal-body contenedor-body-modal ">

    <div class="row ">

      <div class="col-xs-6 ">

        <div class="form-group ">
          <label class="control-label ">Descripción</label>
          <textarea class="form-control " rows="3 " readonly>{{canalObraDetalle.descripcion}}</textarea>
        </div>

        <div class="form-group ">
          <label class="control-label ">Observación</label>
          <textarea class="form-control " rows="3 " readonly>{{canalObraDetalle.observacion}}</textarea>
        </div>

        <div class="form-group ">
          <label class="control-label ">X</label>
          <input value="{{canalObraDetalle.x}} " class="form-control " type="number " readonly/>
        </div>

        <div class="form-group ">
          <label class="control-label ">Y</label>
          <input value="{{canalObraDetalle.y}} " class="form-control " type="number " readonly/>
        </div>

        <div class="form-group ">
          <label class="control-label ">Altitud (m.s.n.m)</label>
          <input value="{{canalObraDetalle.altitud}} " class="form-control " type="number " readonly />
        </div>

      </div>

      <div class="col-xs-6 ">

        <div class="form-group ">
          <label class="control-label ">Ultima intervensión</label>
          <textarea class="form-control " readonly rows="3 ">{{canalObraDetalle.ultimaIntervension}}</textarea>
        </div>

        <div *ngIf="canalObraDetalle.x != null && canalObraDetalle.y != null" class="form-group ">
          <button class="btn btn-success" (click)="georreferenciacion(templateMapa)">Georreferenciación</button>
        </div>

        <div class="col-xs-6 ">
          <img (click)="imagenObra(templateImg) " [src]="imgByte " alt=" " class="rounded float-right img-fluid
              " style="max-width:250px; max-height:210px; cursor: pointer; ">
        </div>

      </div>
    </div>
  </div>

</ng-template>

<ng-template #templateImg>
  <div class="modal-header ">
    <h4 class="modal-title pull-left text-center ">{{canalObraDetalle.obraId.nombre}}</h4>
    <button type="button " class="close pull-right " aria-label="Close " (click)="modalRef2.hide() ">
      <span aria-hidden="true ">&times;</span>
    </button>
  </div>
  <div class="modal-body ">
    <img class="center-block " style="max-width: 750px; max-height: 750px; " [src]="imgByte">
  </div>
</ng-template>

<ng-template #templateGrafica>
  <div class="modal-header ">
    <h4 class="modal-title pull-left text-center ">{{estructuraControl.codigo}}</h4>
    <button type="button " class="close pull-right " aria-label="Close " (click)="modalRef2.hide() ">
      <span aria-hidden="true ">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--
    <app-grafica-estructura-control [data]="estructuraControl"></app-grafica-estructura-control>
    -->
    <h3 *ngIf="!estructuraControl.coeficiente || !estructuraControl.exponente" [hidden]="!chart " class="text-center ">La estructura no ha sido calibrada</h3>
    <h3 [hidden]="!chart " class="text-center ">
      <span>y = {{estructuraControl.coeficiente | number}}
        <i>x</i>
        <sup>
          <i>{{estructuraControl.exponente | number}}</i>
        </sup>
      </span>
    </h3>
    <div style="height: 500px; width: 100%; padding-bottom: 20px ">
      <div style="display: block; height:400; margin: auto; width: 100%;">
        <canvas [hidden]="!chart" width="400 " height="200 " id="canvas">{{ chart }}</canvas>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateMapa>
  <div class="modal-body">
    <agm-map style="width: 100%; height: 500px;"  [mapTypeId]="'satellite'" [latitude]="canalObraDetalle.x" [longitude]="canalObraDetalle.y" [zoom]="16">
      <agm-marker [latitude]="canalObraDetalle.x" [longitude]="canalObraDetalle.y">
        <agm-info-window>
          <p>
            <b>{{canalObraDetalle.obraId.nombre}}</b>
          </p>
          <img class="center-block " style="max-width: 300px; max-height: 300px; " [src]="imgByte" />
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</ng-template>