<div class="col-xs-6 contenedor-principal animated fadeIn">

  <h2 class="page-header Titutlo_form animated fadeIn fast">{{title}}</h2>

  <div class="contenedor-form">


    <ng4-loading-spinner> </ng4-loading-spinner>

    <div *ngIf="estado == 1" class="alert alert-success animated fadeIn fast" role="alert">
      La informacion se ha guardado correctamente.
    </div>
    <div *ngIf="estado == 0" class="alert alert-danger animated fadeIn fast" role="alert">
      Se ha producido un error, intente mas tarde.
    </div>
    <div *ngIf="estado == 2" class="alert alert-warning animated fadeIn fast" role="alert">
      La identificación ya se encuentra en uso.
    </div>
    <div *ngIf="estado == 3" class="alert alert-warning animated fadeIn fast" role="alert">
      La identificación no se encuentra registrada.
    </div>

    <div *ngIf="!mostrarForm" class="form-group">
      <form #fBuscar="ngForm" (ngSubmit)="onClickBuscar()">
        <div class="form-group">
          <label class="label-normal animated fadeIn fast">Buscar cuenta</label>
          <input [(ngModel)]="identificacion" placeholder="Buscar por identificación" name="identificacion" class="form-control" type="text" required />
        </div>
        <div class="cont_btns">
          <button [disabled]="!fBuscar.form.valid" type="submit" class="btn btn-primary btn_buscar">
            <i class="fas fa-search fa-fw"></i> Buscar
          </button>
        </div>
      </form>
    </div>

    <form *ngIf="mostrarForm" #form="ngForm" (ngSubmit)="guardar(form)" autocomplete="off">

      <div [ngClass]="(!cIdent.valid && cIdent.touched) ? 'form-group has-error' : 'form-group'">
        <label [ngClass]="(!cIdent.valid && cIdent.touched) ? 'label-error' : 'label-normal'" class="control-label animated fadeIn fast">Identificación</label>
        <input [(ngModel)]="users.identificacion" #cIdent="ngModel" type="text" class="form-control animated fadeIn" placeholder="Ingrese la identificación" name="ident"
          required/>
        <span class="msg-error" *ngIf="!cIdent.valid && cIdent.touched">Campo obligatorio</span>
      </div>

      <div [ngClass]="(!cRol.valid && cRol.touched) ? 'form-group has-error' : 'form-group'">
        <label [ngClass]="(!cRol.valid && cRol.touched) ? 'label-error' : 'label-normal'" class="animated fadeIn fast">Rol</label>
        <select [(ngModel)]="users.rol" #cRol="ngModel" name="rol" class="form-control animated fadeIn" required>
          <option value="">-- Seleccione --</option>
          <option value="ROLE_JEFE_DISTRITO">Jefe de distrito</option>
          <option value="ROLE_JEFE_OPERACION">Jefe de operación</option>
          <option value="ROLE_USUARIO">Usuario</option>
        </select>
        <span class="msg-error" *ngIf="!cRol.valid && cRol.touched">Campo obligatorio</span>
      </div>

      <div *ngIf="edicion" [ngClass]="(!cEstado.valid && cEstado.touched) ? 'form-group has-error' : 'form-group'">
        <label class="control-label">Estado</label>
        <select [(ngModel)]="users.estado" #cEstado="ngModel" name="estado" class="form-control" required>
          <option value="true">Habilitado</option>
          <option value="false">Inhabilitado</option>
        </select>
        <span class="msg-error" *ngIf="!cEstado.valid && cEstado.touched">Campo obligatorio</span>
      </div>

      <div class="cont_btns">

        <button *ngIf="edicion" (click)="onClickCancelar()" class="btn btn-danger btn_general" type="button">
          <i class="fas fa-ban fa-fw"></i> Cancelar
        </button>

        <button type="submit" [ngClass]="(!edicion) ? 'btn btn-primary btn_guardar' : 'btn btn-primary btn_general'" [disabled]="!form.form.valid">
          <i class="fas fa-save fa-fw"></i> Guardar
        </button>
      </div>

    </form>
  </div>
</div>
