/*-------------------------------------------------------------------------
                    estilo al formulario, label y botones
---------------------------------------------------------------------------*/
/* caracteristicas del titulo*/
.Titutlo_form{
  font-family: 'PT Sans';
  font-size: 35px;
  font-style: normal;
  padding-left: 15px;
  color: #3B9AC1;
}
.titutlo_tablas{
  font-family: 'PT Sans';
  font-size: 25px;
  font-style: normal;
  text-align: center;
  padding-left: 15px;
  color: #3B9AC1;
  margin-bottom: 17px;
  margin-left: 40%;
}
.contenedor-principal{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: transparent;
}
/* caracteristicas del contenedor del formulario*/
.contenedor-form{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  border: 1.5px solid #3B9AC1;
  border-radius: 4px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 15%;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
  background: rgba(255,255,255,0);
}
/* caracteristicas del contenedor del formulario*/
.contenedor-info{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  border: 1.5px solid #3B9AC1;
  border-radius: 4px;
  padding: 30px 20px;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
  background: rgba(255,255,250,1);
}
/* color estandar de los labels*/
.label-normal {
  color: #848889;
  transition: .5s;
}
button.btn_consultar{
/*  margin-top: 20px;*/
  margin-left: 10%;
  width: 100%;
}
div.cont_elementos{
/* width: 30%;*/
  background-color: rgba(255,255,255,0);
  margin-right: 8px;
}
input[type=number]{
  width: 100%;
}
select.select_camp{
  width: 100%;
}
