.msg-error {
  color: #A94442;
}

body.cont-body {
<<<<<<< HEAD
    padding-top: 70px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
    background-image: url("./assets/img/fondo_principal.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; /* el fondo permanecerá fijo */
   /*background: url("./assets/img/flat-lay-2583213_1920.jpg") no-repeat fixed*/ /*Esto es lo mismo que lo anterior pero con una superpropiedad */
=======
  padding-top: 70px;
  margin-bottom: 20px;
  /*background-color: #F5F5F5;*/
  background-image: url("./assets/img/fondo_principal.jpg");
  background-repeat: no-repeat;
>>>>>>> actualizaciones
}

.pointer {
  cursor: pointer;
}

.balance-error {
  background-color: #F8D7DA;
}

.balance-success {
<<<<<<< HEAD
    background-color: #D4EDDA;
=======
  background-color: #D4EDDA;
>>>>>>> actualizaciones
}


/* Animaciones */

.animated {
<<<<<<< HEAD
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
=======
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.fast {
-webkit-animation-duration: 0.4s;
animation-duration: 0.4s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@keyframes fadeIn {
from {
  opacity: 0;
}

to {
  opacity: 1;
}
}

.fadeIn {
animation-name: fadeIn;
}

/*-------------------------------------------------------------------------
                    estilo al formulario, label y botones
---------------------------------------------------------------------------*/
div label.label-normal {
  color: #848889;
}
div label.label-error{
  color: #FF5D5D;
}
.contenedor-form{
  border: 1.5px solid #3B9AC1;
  border-radius: 4px;
  padding: 30px 20px 40px 20px;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
  background: #FFFFFF;
}
.Titutlo_form{
  font-family: 'PT Sans';
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  padding-left: 15px;
  color: #3B9AC1;
}
/*------------------------------------------------------------------
                        Estilo de los Inputs
-------------------------------------------------------------------*/
input[type=text]{
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type=number]{
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type=number]:focus{
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
input[type=text]:focus{
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}


/*----------------------------------------------------------------
              input con fondo e incono
------------------------------------------------------------------ */

/*________Icono dentro del input________*/

/* distancia del texto a la izquierda del input */
.inputWithIcon input[type=text], input[type=password]{
  padding-left: 45px;
}

.inputWithIcon{
  position: relative;
}
/* Posicion y color del icono dentro del input*/
.inputWithIcon i{
  position: absolute;
  left: 0px;
  top: 33px;
  padding: 9px 8px;
  color: #b4b4b4;
  transition: 0.3s;
}
/*________Fondo del icono________*/
.inputWithIcon.inputWithIconBg i{
  background-color: #AAAAAA;
  color: #FFFFFF;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 12px;
  border-radius: 4px 0px 0px 4px;
}
/* ----------------- Inputs Error ----------------------*/
.error input[type=text]{
  border-color: #B44141;
  box-shadow: 0 0 8px 0 #B44141;
}
.error input[type=number]{
  border-color: #B44141;
  box-shadow: 0 0 8px 0 #B44141;
}
/*-----Fondo Error al icono-----*/
.inputWithIcon.inputWithIconBgError i{
  background-color: #FF5D5D;
  color: #FFFFFF;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 12px;
  border-radius: 4px 0px 0px 4px;
}
/*---------------------*/
>>>>>>> actualizaciones
