.msg-error {
    color: #A94442;
}

body {
    padding-top: 70px;
    margin-bottom: 40px;
}

.pointer {
    cursor: pointer;
}

.balance-error {
    background-color: #F8D7DA;
}

.balance-success {
    background-color: #D4EDDA;
}