<div class="col-xs-12 contenedor-principal animated fadeIn fast">

  <h1 class="page-header Titutlo_form animated fadeIn fast">Registro del manejo de agua</h1>

  <ng4-loading-spinner> </ng4-loading-spinner>

  <div *ngIf="estado == 0" class="alert alert-danger animated fadeIn fast" role="alert">
    Ha ocurrido un error, intenta mas tarde.
  </div>
  <div *ngIf="estado == 1" class="alert alert-success animated fadeIn fast" role="alert">
    La informacion se ha guardado exitosamente.
  </div>
  <div *ngIf="estado == 2" class="alert alert-warning animated fadeIn fast" role="alert">
    La informacion ya se encuentra registrada.
  </div>

<div class="row contenedor-form">

    <form>
        <div class="col-xs-12">
          <div *ngIf="!seleccionado" [ngClass]="(cCanal.invalid && cCanal.touched) ? 'form-group has-error' : 'form-group'">
            <label [ngClass]="(cCanal.invalid && cCanal.touched) ? 'label-error' : 'label-normal'">Canal</label>
            <ng2-completer [(ngModel)]="nombreCanal" [inputClass]="['form-control']" [datasource]="dataServiceCanal" [minSearchLength]="4"
              [disableInput]="seleccionado" [textSearching]="'Buscando...'" [placeholder]="'Buscar canal'" [textNoResults]="'Sin resultados'"
              [pause]="1000" (selected)="onCanalSelect($event)" #cCanal="ngModel" name="predioSearch" [clearUnselected]="true"
              required></ng2-completer>
            <span class="msg-error animated fadeIn fast" *ngIf="cCanal.invalid && cCanal.touched">Campo obligatorio</span>
          </div>
        </div>
    </form>

    <form *ngIf="seleccionado" #form="ngForm" (ngSubmit)="registrar(form)">

      <div class="col-xs-12">

        <div class="form-group">
          <input type="text" class="form-control" value="{{nombreCanal}}" disabled />
        </div>

        <div [ngClass]="(cFecha.invalid && cFecha.touched) ? 'form-group has-error' : 'form-group'">
          <label [ngClass]="(cFecha.invalid && cFecha.touched) ? 'label-error' : 'label-normal'">Fecha y hora de entrega</label>
          <input [(bsValue)]="manejoAgua.fecha" [(ngModel)]="ff" #cFecha="ngModel" name="cFecha" type="text" class="form-control" #dp="bsDatepicker"
            bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }" required placeholder="Ingrese la fecha"
          />
          <span class="msg-error animated fadeIn fast" *ngIf="cFecha.invalid && cFecha.touched">Valor incorrecto</span>
        </div>

        <div [ngClass]="(cCSo.invalid && cCSo.touched) ? 'form-group has-error' : 'form-group'">
          <label [ngClass]="(cCSo.invalid && cCSo.touched) ? 'label-error' : 'label-normal'">Caudal solicitado
            <span>(
              <i>m</i>
              <sup>
                <i>3</i>
              </sup>/ s)
            </span>
          </label>
          <input [(ngModel)]="manejoAgua.qSolicitado" #cCSo="ngModel" name="cCSo" type="number" class="form-control" placeholder="Ingrese el caudal solicitado"
            required />
          <span class="msg-error" *ngIf="cCSo.invalid && cCSo.touched">Valor incorrecto</span>
        </div>

      </div>

      <div class="col-xs-12">

        <div [ngClass]="(cCE.invalid && cCE.touched) ? 'form-group has-error' : 'form-group'">
          <label [ngClass]="(cCE.invalid && cCE.touched) ? 'label-error' : 'label-normal'">Caudal extraido
            <span>(
              <i>m</i>
              <sup>
                <i>3</i>
              </sup>/ s)
            </span>
          </label>
          <input [(ngModel)]="manejoAgua.qExtraido" #cCE="ngModel" name="cCE" type="number" class="form-control" placeholder="Ingrese el caudal extraido"
            required />
          <span class="msg-error animated fadeIn fast" *ngIf="cCE.invalid && cCE.touched">Valor incorrecto</span>
        </div>

        <div [ngClass]="(cCSe.invalid && cCSe.touched) ? 'form-group has-error' : 'form-group'">
          <label [ngClass]="(cCSe.invalid && cCSe.touched) ? 'label-error' : 'label-normal'">Caudal servido
            <span>(
              <i>m</i>
              <sup>
                <i>3</i>
              </sup>/ s)
            </span>
          </label>
          <input [(ngModel)]="manejoAgua.qServido" #cCSe="ngModel" name="cCSe" type="number" class="form-control" placeholder="Ingrese el caudal servido"
            required />
          <span class="msg-error" *ngIf="cCSe.invalid && cCSe.touched">Valor incorrecto</span>
        </div>

        <div [ngClass]="(cA.invalid && cA.touched) ? 'form-group has-error' : 'form-group'">
          <label [ngClass]="(cA.invalid && cA.touched) ? 'label-error' : 'label-normal'">Area (ha)</label>
          <input [(ngModel)]="manejoAgua.area" #cA="ngModel" name="cA" type="number" class="form-control" placeholder="Ingrese el area"
            required />
          <span class="msg-error animated fadeIn fast" *ngIf="cA.invalid && cA.touched">Valor incorrecto</span>
        </div>
      </div>

      <div class="cont_btns">
        <button [disabled]="!form.form.valid || canal == null" type="submit" class="btn btn-primary btn_general">
          <i class="fas fa-save fa-fw"></i> Guardar
        </button>
        <button *ngIf="seleccionado" (click)="cancelar(form)" type="button" class="btn btn-danger btn_general">
          <i class="fas fa-ban fa-fw"></i> Cancelar
        </button>
      </div>

    </form>
  </div>
</div>
