<div class="col-xs-6 contenedor-principal animated fadeIn">

  <h2 class="page-header Titutlo_form animated fadeIn fast">Cambiar contraseña</h2>

  <div class="contenedor-form">

    <ng4-loading-spinner> </ng4-loading-spinner>

    <div *ngIf="estado == 1" class="alert alert-success" role="alert">
      La informacion se ha guardado correctamente.
    </div>
    <div *ngIf="estado == 2" class="alert alert-success" role="alert">
      La contraseña no puede ser igual a la contraseña vieja.
    </div>
    <div *ngIf="estado == 0" class="alert alert-danger" role="alert">
      Se ha producido un error, intente mas tarde.
    </div>

    <form  #form="ngForm" (ngSubmit)="guardar(form)" autocomplete="off">

      <div [ngClass]="((!cClave.valid && cClave.touched) || incorrecto) ? 'form-group has-error error' : 'form-group'">
        <label [ngClass]="((!cClave.valid && cClave.touched) || incorrecto) ? 'label-error' : 'label-normal'">Contraseña</label>
        <input (keyup)="coinciden()" [(ngModel)]="clave" autocomplete="new-password" #cClave="ngModel" type="password" class="form-control" placeholder="Contraseña nueva"
          name="clave1" required/>
        <span class="msg-error animated fadeIn fas" *ngIf="!cClave.valid && cClave.touched">Campo obligatorio</span>
        <span class="msg-error animated fadeIn fas" *ngIf="incorrecto">Las contraseñas no coinciden</span>
      </div>

      <div [ngClass]="((!cClave2.valid && cClave2.touched) || incorrecto) ? 'form-group has-error error' : 'form-group'">
        <label [ngClass]="((!cClave2.valid && cClave2.touched) || incorrecto) ? 'label-error' : 'label-normal'">Confirmar contraseña</label>
        <input (keyup)="coinciden()" [(ngModel)]="clave2" autocomplete="new-password" #cClave2="ngModel" type="password" class="form-control" placeholder="Confirmar contraseña"
          name="clave2" required/>
        <span class="msg-error animated fadeIn fas" *ngIf="!cClave2.valid && cClave2.touched">Campo obligatorio</span>
        <span class="msg-error animated fadeIn fas" *ngIf="incorrecto">Las contraseñas no coinciden</span>
      </div>

      <div class="cont_btns">
        <button type="submit" class="btn btn-primary btn_guardar" [disabled]="!form.form.valid || incorrecto">
          <i class="fas fa-save fa-fw"></i> Guardar
        </button>
      </div>

    </form>
  </div>
</div>
