/*-------------------------------------------------------------------------
                    estilo al formulario, label y botones
---------------------------------------------------------------------------*/
.contenedor-principal{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: transparent;
}
button.btn_consular{
  margin-top: 10px;
  margin-left: 45px;
  position: relative;
  width: 45%;
}
/* color estandar de los labels*/
div label.label-normal {
  margin-bottom: 10px;
  color: #848889;
  transition: .5s;
}
div label.label-error{
  margin-bottom: 10px;
  color: #B44141;
  transition: .5s;
}

/* caracteristicas del contenedor del formulario*/
.contenedor-form{
  width: 100%;
  border: 1.5px solid #3B9AC1;
  border-top: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 30px 20px 40px 20px;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
  background: rgba(255,255,255,1);
}
/* caracteristicas del contenedor del formulario*/
.contenedor-info{
  width: 100%;
  border: 1.5px solid #3B9AC1;
  border-radius: 4px;
  padding: 30px 20px 40px 20px;
  margin: 8px 0px;
  outline: none;
  box-sizing: border-box;
  background: rgba(255,255,255,1);
}
/* caracteristicas del titulo*/
.Titutlo_form{
  font-family: 'PT Sans';
  font-size: 35px;
  font-style: normal;
  padding-left: 15px;
  color: #3B9AC1;
}
div.cont-table{
  padding-top: 8px;
  padding-left: 13px;
  padding-right: 8px;
  width: 100%;
}
