<div class="row contenedor-principal animated fadeIn fast">

    <h2 class="page-header Titutlo_form animated fadeIn">Calculo de eficiencia/perdidas</h2>

    <ng4-loading-spinner> </ng4-loading-spinner>

    <br/>

    <div *ngIf="estado == 0" class="alert alert-danger animated fadeIn fast" role="alert">
      Ha ocurrido un error, intente mas tarde.
    </div>

    <tabset #tabSeleccion>
      <tab heading="Unidad" (select)="onClickChoose(1,formAC)"></tab>
      <tab heading="Zona" (select)="onClickChoose(2,formAC)"></tab>
      <tab heading="Sección" (select)="onClickChoose(3,formAC)" ></tab>
      <tab heading="Canal" (select)="onClickChoose(4,formAC)"></tab>
    </tabset>

  <div class="row contenedor-form">

    <div class="col-xs-6">

      <form #formAC="ngForm" autocomplete="off">

        <div *ngIf="tipo != 4" [ngClass]="(cUnidad.invalid && cUnidad.touched) ? 'form-group has-error' : 'form-group'">
          <label [ngClass]="(cUnidad.invalid && cUnidad.touched) ? 'label-error': 'label-normal'">Unidad</label>
          <ng2-completer [(ngModel)]="sUnidad" [inputClass]="['form-control']" [datasource]="dataUnidad" [minSearchLength]="4" [textSearching]="'Buscando...'"
            [placeholder]="'Buscar unidad'" [textNoResults]="'Sin resultados'" [pause]="500" (selected)="onUnidadSelect($event)"
            #cUnidad="ngModel" name="unidadC" [clearUnselected]="true" required></ng2-completer>
          <span class="msg-error animated fadeIn fast" *ngIf="cUnidad.invalid && cUnidad.touched">Campo obligatorio</span>
        </div>

        <div *ngIf="tipo == 2 || tipo == 3" [ngClass]="(cZona.invalid && cZona.touched) ? 'form-group has-error' : 'form-group'">
          <label [ngClass]="(cZona.invalid && cZona.touched) ? 'label-error': 'label-normal'">Zona</label>
          <ng2-completer [(ngModel)]="sZona" [inputClass]="['form-control']" [datasource]="dataZona" [minSearchLength]="4" [textSearching]="'Buscando...'"
            [placeholder]="'Buscar zona'" [textNoResults]="'Sin resultados'" [pause]="500" (selected)="onZonaSelect($event)"
            #cZona="ngModel" name="zonaS" [clearUnselected]="true" required></ng2-completer>
          <span class="msg-error animated fadeIn fast" *ngIf="cZona.invalid && cZona.touched">Campo obligatorio</span>
        </div>

        <div *ngIf="tipo == 3" [ngClass]="(cSeccion.invalid && cSeccion.touched) ? 'form-group has-error' : 'form-group'">
          <label [ngClass]="(cSeccion.invalid && cSeccion.touched) ? 'label-error': 'label-normal'">Sección</label>
          <ng2-completer [(ngModel)]="sSeccion" [inputClass]="['form-control']" [datasource]="dataSeccion" [minSearchLength]="4" [textSearching]="'Buscando...'"
            [placeholder]="'Buscar sección'" [textNoResults]="'Sin resultados'" [pause]="500" (selected)="onSeccionSelect($event)"
            #cSeccion="ngModel" name="seccionC" [clearUnselected]="true" required></ng2-completer>
          <span class="msg-error animated fadeIn fast" *ngIf="cSeccion.invalid && cSeccion.touched">Campo obligatorio</span>
        </div>

        <div *ngIf="tipo == 4" [ngClass]="(cSource.invalid && cSource.touched) ? 'form-group has-error' : 'form-group'">
          <label [ngClass]="(cSource.invalid && cSource.touched) ? 'label-error': 'label-normal'">Canal</label>
          <ng2-completer [(ngModel)]="sCanal" [inputClass]="['form-control']" [datasource]="dataCanal" [minSearchLength]="4" [textSearching]="'Buscando...'"
            [placeholder]="'Buscar canal'" [textNoResults]="'Sin resultados'" [pause]="500" (selected)="onSourceSelect($event)"
            #cSource="ngModel" name="predioSearch" [clearUnselected]="true" required></ng2-completer>
          <span class="msg-error animated fadeIn fast" *ngIf="cSource.invalid && cSource.touched">Campo obligatorio</span>
        </div>

      </form>
    </div>

    <div class="col-xs-6">

      <form #form="ngForm" (ngSubmit)="consultar()" autocomplete="off">

        <div [ngClass]="(cFecha.invalid && cFecha.touched) ? 'form-group has-error' : 'form-group'">
          <label [ngClass]="(cFecha.invalid && cFecha.touched) ? 'label-error': 'label-normal'">Fecha</label>
          <input [(ngModel)]="fecha" #cFecha="ngModel" name="cFecha" type="text" class="form-control" #drp="bsDaterangepicker" bsDaterangepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }" required placeholder="Ingrese la fecha"
          />
          <span class="msg-error animated fadeIn fast" *ngIf="cFecha.invalid && cFecha.touched">Valor incorrecto</span>
          <span class="msg-error animated fadeIn fast" *ngIf="fechaInvalida">La fecha debe de ser un lunes</span>
        </div>

        <button [disabled]="!form.form.valid || !formAC.form.valid || !valido" class="btn btn-primary btn_consular" type="submit">Consultar</button>
      </form>
    </div>

  </div>

  <br/>

  <div *ngIf="consultado" class="row contenedor-info animated fadeIn">

    <div class="row cont-table">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center" colspan="2">Eficiencias</th>
            <th class="text-center" colspan="2">Pérdidas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Eficiencia Operacional</th>
            <td>{{eficienciaPerdidas.eficienciaOperacion}}%</td>
            <th>Pérdidas Totales</th>
            <td class="text-center" >{{eficienciaPerdidas.perdidasTotales}}
              <span>
                <i>m</i>
                <sup>
                  <i>3</i>
                </sup>
                <i>/seg</i>
              </span>
            </td>
          </tr>
          <tr>
            <th>Eficiencia Intrinseca</th>
            <td >{{eficienciaPerdidas.eficienciaIntrinseca}}%</td>
            <th>Pérdidas por Manejo</th>
            <td class="text-center" >{{eficienciaPerdidas.perdidasManejo}}%</td>
          </tr>
          <tr>
            <th>Eficiencia de Conducción</th>
            <td>{{eficienciaPerdidas.eficienciaConduccion}}%</td>
            <th>Pérdidas Intrinsecas</th>
            <td class="text-center" >{{eficienciaPerdidas.perdidasIntrinsecas}}%</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
