<div class="col-xs-6 contenedor-principal animated fadeIn fast">

  <h2 class="Titutlo_form animated fadeIn fast">{{title}}</h2>

  <br>

  <ng4-loading-spinner> </ng4-loading-spinner>

  <div *ngIf="estado == 1" class="alert alert-success animated fadeIn fast" role="alert">
    La informacion se ha guardado correctamente.
  </div>
  <div *ngIf="estado == 0" class="alert alert-danger animated fadeIn fast" role="alert">
    Se ha producido un error, intente mas tarde.
  </div>
  <div *ngIf="estado == 2" class="alert alert-warning animated fadeIn fast" role="alert">
    El nombre de la unidad ya existe.
  </div>
  <div class="contenedor-form">

    <div *ngIf="!mostrarForm" class="form-group animated fadeIn fast">
      <div class="form-group animated fadeIn">
        <label class="control-label label-normal animated fadeIn fast" for="nombre">Buscar unidad</label>
        <ng2-completer (selected)="onSelectedUnidad($event)" [datasource]="dataServiceUnidad" [inputClass]="['form-control']" [minSearchLength]="4"
          [textSearching]="'Buscando...'" [placeholder]="'Buscar unidad'" [pause]="500" [textNoResults]="'Sin resultados'" [clearUnselected]="true"></ng2-completer>
      </div>
    </div>

    <form *ngIf="mostrarForm" #form="ngForm" (ngSubmit)="registrar(form)" autocomplete="off" class="animated fadeIn fast">

      <div [ngClass]="(!nombre.valid && nombre.touched) ? 'form-group has-error error' : 'form-group'">
        <label [ngClass]="(!nombre.valid && nombre.touched) ? 'label-error' : 'label-normal'" class="animated fadeIn fast" for="nombre">Nombre de la unidad</label>
        <input type="text" class="form-control animated fadeIn fast" placeholder="Ingrese nombre de la unidad" #nombre="ngModel" name="nombre" [(ngModel)]="unidad.nombre"
          required/>
        <span class="msg-error animated fadeIn fast" *ngIf="!nombre.valid && nombre.touched">El nombre es obligatorio</span>
      </div>
    <div class="cont_btns">
      <button type="submit" [ngClass]="(!edicion) ? 'btn btn-primary btn-guardar': 'btn btn-primary'" [disabled]="!form.form.valid">
        <i class="far fa-save fa-fw"></i> Guardar
      </button>
      <button *ngIf="edicion" (click)="onClickCancelar()" class="btn btn-danger" type="button">
        <i class="fas fa-ban fa-fw"></i> Cancelar
      </button>
    </div>


    </form>
  </div>
</div>
